@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300,400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 2em;
}


/*=============
Typography
===============*/

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 200;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #1792d2;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}


/* h1 subtitle */

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-info {
    margin: 2em 0;
}

.widget-title,
.widget-recent-post {
    font-size: 1rem;
}

.widget-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/*=============
Layout
===============*/

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer {
    background: #143774;
    color: rgb(255, 255, 255, .65);
    text-align: center;
    padding: 3em 0;
}

@media (min-width:675px) {
    .container-flex {
        flex-direction: row;
    }
    main {
        width: 70%;
    }
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}


/* Navigation */

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    /* padding for mobile, space to click */
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: .5em 0;
    }
}


/* Article */

.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width:675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-main {
        width: 68%;
    }
    .article-recent-secondary {
        width: 30%;
    }
    .article-featured {
        display: flex;
        flex-direction: column;
    }
    /* We can't use order without the display flex
        hence the display flex above and also why the 
        order won't affect the other elements with  the 
        same class used below */
    .article-image {
        order: -2;
    }
    .article-info {
        order: -1;
    }
    /* The general article image now */
    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}


/* Widget */

.sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}

.widget-post-title {
    color: #143774;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
    order: -1;
    margin-bottom: 1em;
}