* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h1+p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2+p {
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}

.top-text {
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #F18119;
    margin: 0 auto;
    padding-top: 2px;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
    width: 150px;
}

.fine-print {
    font-size: 00.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

.intro {
    background-color: #404040;
    background-image: url(images/ribs.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;
    background-blend-mode: multiply;
}

.main-content {
    padding: 2em 1em;
}


/* .intro>*,
.main-content>* {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
} */

.container {
    max-width: 400px;
    margin: 0 auto;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.email-collector {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

input,
.btn {
    width: 100%;
}

input {
    font-family: inherit;
    margin-bottom: .75em;
    text-align: inherit;
    padding: .25em;
    border: 1px solid #404040;
    border-radius: 3px;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: white;
    transition: color 250ms;
    transform: scale(1);
}

.btn-primary:hover,
.btn-primary:focus {
    color: black;
    transform: scale(1.1);
}

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2,
    h1+p {
        font-size: 1.75rem;
    }
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
    .main-content,
    .email-collector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .container-intro {
        height: 100%;
        /* matches the height of the main content of 100vh
        This is one of the use cases where you set height in 
        percentage*/
    }
}